<div class="umb-pane" ng-if="content">
	<umb-tabs-nav model="content.tabs"
				  id-suffix="-mini-editor">
	</umb-tabs-nav>
	<umb-tabs-content>
		<umb-tab id="tab{{tab.id}}-mini-editor"
				 ng-repeat="tab in content.tabs"
				 rel="{{tab.id}}-mini-editor">

			<umb-property property="property"
						  ng-repeat="property in tab.properties">
				<umb-editor model="property"></umb-editor>
			</umb-property>
		</umb-tab>
	</umb-tabs-content>
</div>
<div style="height:40px;" ng-if="!content">
	<umb-load-indicator></umb-load-indicator>
</div>
